* {
    color: rgb(209, 209, 209);
    flex-shrink: 0;
}

TextField > #unity-text-input {
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

TextField {
    background-color: rgb(0, 0, 0);
}
